@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body .container {
  background: #1b2838;
}
body .container .wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
body .container .wrapper header
h1 {
  display: inline-block;
  max-width: 383px;
  width: 100%;
  vertical-align: top;
}
body .container .wrapper header
h1 a {
  max-width: 383px;
  width: 100%;
  height: 91px;
  display: inline-block;
  background: url("../images/logo.png") no-repeat;
  text-indent: -999999px;
}
body .container .wrapper nav {
  max-width: 562px;
  width: 100%;
  margin-top: 30px;
  display: inline-block;
}
body .container .wrapper nav ul {
  list-style: none;
  overflow: hidden;
}
body .container .wrapper nav ul li {
  margin-left: 10px;
  float: left;
}
body .container .wrapper nav ul li a {
  padding: 4px;
  display: inline-block;
  color: #fff;
  font-weight: 100;
  text-decoration: none;
  transition: .5s ease all;
}
body .container .wrapper nav ul li a:hover {
  border-radius: 5px;
  background: #fff;
  color: #1b2838;
}
body .container .wrapper nav ul li a.communities {
  margin-left: 26px;
}
body .container .wrapper nav ul li a.search {
  margin-left: 28px;
}
body .container .wrapper nav ul li a.news {
  margin-left: 27px;
}
body .container .wrapper nav ul li a.logout {
  margin-left: 27px;
}
body .container .wrapper ul.sharre-icons {
  max-width: 155px;
  width: 100%;
  margin-top: 45px;
  float: right;
  list-style: none;
}
body .container .wrapper ul.sharre-icons li {
  float: left;
}
body .container .wrapper ul.sharre-icons li a {
  width: 24px;
  height: 24px;
  display: inline-block;
  text-indent: -99999px;
}
body .container .wrapper ul.sharre-icons li a.facebook {
  background: url("../images/facebook.png") no-repeat;
  background-size: contain;
}
body .container .wrapper ul.sharre-icons li a.twitter {
  margin-left: 19px;
  background: url("../images/twiiter.png") no-repeat;
  background-size: contain;
}
body .container .wrapper ul.sharre-icons li a.gplus {
  margin-left: 19px;
  background: url("../images/googleplus.png") no-repeat;
  background-size: contain;
}
body .container .wrapper ul.sharre-icons li a.youtube {
  margin-left: 19px;
  background: url("../images/youtube.png") no-repeat;
  background-size: contain;
}
body .container .wrapper ul.sharre-icons li a:hover {
  opacity: .8;
}
body .container .main {
  background: #fff;
}
body .container .main .uppper-section {
  background: #1fbfed;
}
body .container .main .uppper-section .uppper-left-section {
  max-width: 27%;
  width: 100%;
  display: inline-block;
}
body .container .main .uppper-section .uppper-left-section img {
  margin-top: 15px;
  vertical-align: top;
}
body .container .main .uppper-section .uppper-left-section .text-content {
  margin-left: 6%;
  display: inline-block;
}
body .container .main .uppper-section .uppper-left-section .text-content p {
  margin-top: 26px;
  margin-bottom: 0;
  color: #fff;
  font-family: Gotham;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}
body .container .main .uppper-section .uppper-left-section .text-content span {
  color: #fff;
  font-family: Gotham;
  font-size: 13px;
  font-weight: 100;
  line-height: 28px;
  text-align: left;
}
body .container .main .uppper-section .uppper-left-section .text-content ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin-top: 0;
}
body .container .main .uppper-section .uppper-left-section .text-content ul li {
  float: left;
}
body .container .main .uppper-section .uppper-left-section .text-content ul li.pictures, body .container .main .uppper-section .uppper-left-section .text-content ul li.write, body .container .main .uppper-section .uppper-left-section .text-content ul li.profile {
  margin-left: 28px;
}
body .container .main .uppper-section .uppper-right-section {
  display: inline-block;
  vertical-align: top;
  max-width: 72%;
  width: 100%;
  height: 136px;
  background: #23ceff;
  padding-bottom: 5px;
}
body .container .main .uppper-section .uppper-right-section p.text-content {
  font-family: Gotham;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-top: 10px;
}
body .container .main .uppper-section .uppper-right-section .activity-cards {
  width: 47%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  margin-left: 14px;
}
body .container .main .uppper-section .uppper-right-section .activity-cards img {
  width: 20%;
  vertical-align: top;
}
body .container .main .uppper-section .uppper-right-section .activity-cards .activity-card-contents {
  width: 78%;
  display: inline-block;
}
body .container .main .uppper-section .uppper-right-section .activity-cards .activity-card-contents p {
  margin: 0 0 0 5px;
  font-family: Gotham;
  color: #1b2838;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  text-align: left;
}
body .container .main .uppper-section .uppper-right-section .activity-cards .activity-card-contents span {
  font-family: Gotham;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  margin-top: 3px;
  display: inline-block;
  margin-left: 5px;
}
body .container .main .uppper-section .uppper-right-section .activity-cards .activity-card-contents img.activity-imgs {
  margin-top: 3px;
  margin-left: 32px;
  display: inline-block;
  width: 21px;
  height: 19px;
}
