//Importing Tools folder
@import "tools/font";

//Importing Base folder
@import "base/base";
@import "base/var";

//Importing Layout Folder
@import "layout/layout";

//Importing Modules Folder
@import "module/modules";

//Importing States Folder
@import "state/state";

//Custom Styling
body {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	.container {
		background: #1b2838;

		.wrapper {
			max-width: 1200px;
	    width: 100%;
	    margin: 0 auto;

	    header
	    	h1 {
	    		display: inline-block;
	    		max-width: 383px;
	    		width: 100%;
	    		vertical-align: top;
	    			a {
	    				max-width: 383px;
	    				width: 100%;
	    				height: 91px;
	    				display: inline-block;
	    				background: url('../images/logo.png') no-repeat;
	    				text-indent: -999999px;
	    			}
	    	}
	    	nav {		    
	    		max-width: 562px;
			    width: 100%;
			    margin-top: 30px;
	    		display: inline-block;

			    ul {
			    	list-style: none;
    				overflow: hidden;
			    	
			    	li {
   						margin-left: 10px;
			    		float: left;

   						a {
   							padding: 4px;
    						display: inline-block;
   						  color: #fff;
   						  font-weight: 100;
    						text-decoration: none;
    						transition: .5s ease all;

    						&:hover {
    							border-radius: 5px;
    							background: #fff;
    							color: #1b2838;
    						}

    						&.communities { margin-left: 26px; }

    						&.search { margin-left: 28px; }

    						&.news { margin-left: 27px; }

    						&.logout { margin-left: 27px; }
   						}
			    	}
			    }
	    	}

	    	ul.sharre-icons {
	    		max-width: 155px;
	    		width: 100%;
	    		margin-top: 45px;
	    		float: right;
	    		list-style: none;

	    		li {
	    			float: left;

	    			a {
	    				width: 24px;
	    				height: 24px;
	    				display: inline-block;
	    				text-indent: -99999px;

	    				&.facebook {
	    					background: url('../images/facebook.png') no-repeat;
	    					background-size: contain;
	    				}

	    				&.twitter {
	    					margin-left: 19px;
	    					background: url('../images/twiiter.png') no-repeat;
	    					background-size: contain;
	    				}

	    				&.gplus {
	    					margin-left: 19px;
	    					background: url('../images/googleplus.png') no-repeat;
	    					background-size: contain;
	    				}

	    				&.youtube {
	    					margin-left: 19px;
	    					background: url('../images/youtube.png') no-repeat;
	    					background-size: contain;
	    				}

	    				&:hover { opacity: .8; }
	    			}
	    		}
	    	}
		}

		.main {
			background: #1b2838;

			.uppper-section {
				background: #1fbfed;

				.uppper-left-section {
					max-width: 27%;
					width: 100%;
					display: inline-block;

					img { 
						margin-top: 15px;
						vertical-align: top; 
					}

					.text-content {
						margin-left: 6%;
						display: inline-block; 

						p {
							margin-top: 26px;
							margin-bottom: 0;
							color:  #fff;
							font-family: Gotham;
							font-size: 20px;
							font-weight: 700;
							line-height: 28px;
							text-align: left;
						}

						span {
						  color: #fff;
					    font-family: Gotham;
					    font-size: 13px;
					    font-weight: 100;
					    line-height: 28px;
					    text-align: left;
						}

						ul {
							list-style: none;
    					overflow: hidden;
					    padding: 0;
					    margin-top: 0;

					    li { 
					    	float: left; 

					    	&.pictures,
					    	&.write,
					    	&.profile {
					    		margin-left: 28px;
					    	}
					    }

						}
					}
				}

				.uppper-right-section {
					display: inline-block;
			    vertical-align: top;
			    max-width: 72%;
			    width: 100%;
			    height: 136px;
			    background: #23ceff;
			    padding-bottom: 5px;
					
					p.text-content {
						font-family: Gotham;
						color:  #ffffff;
						font-size: 20px;
						font-weight: 700;
						line-height: 28px;
						text-align: center;
						margin-top: 10px;
					}
					.activity-cards {
						width: 47%;
				    display: inline-block;
				    vertical-align: top;
				    margin-bottom: 10px;
				    margin-left: 14px;

    				img {
    					width: 20%;
    					vertical-align: top;
    				}

    				.activity-card-contents {
    					width: 78%;
    					display: inline-block;

    					p { 
    						margin: 0 0 0 5px;
						    font-family: Gotham;
						    color: #1b2838;
						    font-size: 13px;
						    font-weight: 300;
						    line-height: 17px;
						    text-align: left;
    					}
    					span {
	    					font-family: Gotham;
						    color: #ffffff;
						    font-size: 14px;
						    font-weight: 300;
						    line-height: 20px;
						    text-align: left;
						    margin-top: 3px;
    						display: inline-block;
    						margin-left: 5px;
	    				}
	    				img.activity-imgs {
	    					margin-top: 3px;
	    					margin-left: 32px;
    						display: inline-block;
    						width: 21px;
    						height: 19px;
	    				}
    				}
					}
				}
			}

			.lower-section {
				.lower-left-section {
					width: 27.4%;
			    display: inline-block;
			    border-right: 1px solid #23ceff;

			    h2 {
			    	font-family: Gotham;
				    color: #ffffff;
				    font-size: 20px;
				    font-weight: 700;
				    line-height: 20px;
				    text-align: left;
				    padding-bottom: 11px;
				    border-bottom: 1px solid #23ceff;
				    max-width: 305px;
				    width: 100%;
			    }

			    .community-cards {
			    	img { vertical-align: top; }

			    	.community-text {
			    		display: inline-block;
    					margin: 12px 0 0 14px;
    					border-bottom: 1px solid #ccc;

    					p {
    						font-family: Gotham;
						    color: #ffffff;
						    font-size: 16px;
						    font-weight: 700;
						    line-height: 20px;
						    text-align: left;
    					}

    					ul {
    						list-style: none;
						    padding: 0;
						    margin-left: 13px;

						    li {
						    	font-family: Gotham;
							    color: #ffffff;
							    font-size: 16px;
							    font-weight: 300;
							    line-height: 20px;
							    text-align: left;
						    }
    					}
			    	}
			    }
			    .post-cards {
			    	margin-bottom: 20px;

			    	img {
			    		width: 25%;
			    	}
			    	p {
			    		width: 71%;
					    display: inline-block;
					    vertical-align: top;
					    margin: 0px 0 0 6px;
					    font-family: Gotham;
							color:  #ffffff;
							font-size: 16px;
							font-weight: 300;
							line-height: 20px;
							text-align: left;
			    	}
			    }
				}
			}
		}
	}
}




